# ml-service/requirements.txt
# Зависимости для ML Inference Service
fastapi
uvicorn[standard]
python-multipart
catboost                
numpy
pandas                  
scikit-learn            # <<< НОВОЕ: ДОБАВИТЬ ЭТУ СТРОКУ
scipy                   
joblib                  
# torch # Не нужен для CatBoost, оставим закомментированным