__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
pip-log.txt
pip-delete-this-file.txt
.tox/
.poetry/
.ipynb_checkpoints
.pytest_cache/
htmlcov/
.coverage
.mypy_cache/
.pyre/
.vscode-test
*.swp
*.swo

.eggs/
*.egg
*.egg-info/
EGG-INFO/
parts/
sdist/
var/
wheels/
share/python-wheels/
.installed.cfg
.idea/                          
*.iml
*.iws
*.ipr

.vscode/                       
*.code-workspace
.idea/                         
*.iws
*.iml
*.ipr
.project
.directory

/models/*.pth                   
/models/*.pt                    
/models/*.bin                   
/models/*.h5                   
/models/*.tf                   
/models/*.joblib
/models/*.pkl                   
/models/*.onnx                 
/models/*.zip                   
/models/                      
!.gitkeep                       


/data/raw/*                        
/data/processed/                
/data/tmp/                      


*.log
logs/
nohup.out
.log
        

/api/*.test                   
/api/*.out                     
/api/vendor/                   
/api/*.a                       
/api/*.so                       
/api/bin/                      
/api/*.exe                     

/frontend/.next/              
/frontend/.swc/               
/frontend/out/                  
/frontend/node_modules/        
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-store/        
/frontend/.vercel/            
/frontend/.DS_Store             
/frontend/*.env                
/frontend/*.env.*local
!/frontend/.env.example        


*.DS_Store                     
.env                           
.env.*local
